* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #e3e3e3;
  font-size: 12px;
  display: flex;
  max-width: 1440px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

/* GENERAL STYLES  */
svg {
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
}

button:focus,
svg:focus {
  border: 1.5px solid #005bd3;
}

button.select-plan {
  border-radius: 6px;
  padding: 6px 12px;
}

button.select-plan:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    linear-gradient(0deg, #f7f7f7, #f7f7f7);
}

button.select-plan:active {
  background-color: #e2e2e2;
}

/* HEADER SECTION  */
header.main-heading {
  display: flex;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  background: var(--grey-grey-300, #1a1a1a);

  & .profile {
    display: flex;
    padding: 2px 2px 2px 8px;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 8px;
    border-radius: 8px;
  }

  /* input and input states */
  & input {
    width: 480px;
    height: 32px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--stroke-s-200, #616161);
    background: var(--grey-g-200, #303030);
    gap: 6px;
    color: #b5b5b5;
  }

  & input:hover {
    border-radius: 8px;
    border: 1px solid var(--stroke-s-100, #e1e1e1);
    background: var(--grey-g-200, #303030);
  }

  & input:active {
    border-radius: 8px;
    border: 2px solid var(--White, #fff);
    background: var(--grey-g-200, #303030);
  }

  & input:focus {
    border-radius: 8px;
    border: 2px solid var(--White, #fff);
    background: var(--grey-g-200, #303030);
  }

  /* div.profile section */
  & div.profile {
    display: flex;
    gap: 8px;
    flex: 1 0 0;

    & .profile-info {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & span.davii {
        color: #e3e3e3;
      }

      & .DC {
        border-radius: 6px;
        background: #36fba1;
        color: rgba(0, 0, 0, 0.4);
        text-align: center;

        /* Text-12/medium */
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 15.6px */
      }
    }

    & .profile-info:hover {
      padding: 2px 2px 2px 8px;
      align-items: center;
      gap: 8px;
      border-radius: 8px;
      background: var(--font-mid-2, #616161);
    }

    & .profile-info:active {
      padding: 2px 2px 2px 8px;
      align-items: center;
      gap: 8px;
      border-radius: 8px;
      background: var(--grey-grey-50, #656266);
    }

    & svg {
      border-radius: 8px;
      background: var(--grey-grey-200, #303030);
      display: flex;
      width: 32px;
      height: 32px;
      padding: 8px;
      gap: 8px;
    }

    & svg:hover {
      display: inline-flex;
      padding: 6px;
      align-items: center;
      gap: 8px;
      border-radius: 8px;
      background: var(--font-mid-2, #616161);
    }

    & svg:active {
      padding: 6px;
      align-items: center;
      gap: 8px;
      border-radius: 8px;
      background: var(--grey-grey-50, #656266);
    }

    & svg:focus {
      padding: 6px;
      align-items: center;
      gap: 8px;
      border-radius: 8px;
      background: var(--grey-grey-50, #656266);
      box-shadow: 0px 0px 0px 3px #005bd3, 0px 0px 0px 1px #000;
    }
  }
}

/* MAIN SECTION  */
main {
  padding: 16px 0;
  max-width: 800px;
  max-height: 178px;

  & button {
    border: none;
    padding: 6px 12px;
    gap: 8px;
    color: var(--font-dark, #323232);

    /* Text-12/Semi bold */
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 15.6px */
  }

  & div.heading {
    display: flex;
    padding: 12px 8px 12px 16px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    border-radius: 8px;
    background: var(--grey-grey-300, #1a1a1a);
    color: #e3e3e3;
    color: var(--font-light, #e3e3e3);

    /* Text-13/medium */
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 18.2px */

    & svg {
      width: 20px;
      height: 20px;
    }
  }

  & .select-plan {
    gap: 8px;
  }

  & .select-plan button {
    display: flex;
    padding: 6px 12px;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: var(--White, #fff);
    box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
  }

  & .select-plan button:hover {
    padding: 6px 12px;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #f7f7f7;
    box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
  }

  & .select-plan button:active {
    padding: 6px 12px;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    background: #f7f7f7;
    box-shadow: 0px 2px 1.5px 0px #e2e2e2 inset;
    transition: all 0.4s ease-in;
    border: 1px;
  }

  & .select-plan button:focus {
    padding: 6px 12px;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: var(--White, #fff);
    box-shadow: 0px 0px 0px 3px #005bd3, 0px 0px 0px 1px #fff,
      0px -1px 0px 0px #b5b5b5 inset;
  }
}

/* GUIDELINES SECTION */
section.guidelines {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--White, #fff);
  box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
  columns: #4a4a4a;

  & header {
    display: flex;
    padding: 8px;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fff;

    & button {
      background: none;
    }

    & div.setup-guide {
      max-width: 376px;
      max-height: 74px;
    }

    & p {
      color: var(--font-dark, var(--grey-g-200, #303030));

      /* Text-14/semi bold */
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%; /* 19.6px */
    }

    & .arrow {
      width: 20px;
      height: 20px;
    }

    & .arrow-down {
      padding: 4px;
    }

    & .arrow-up {
      display: none;
      padding: 4px;
      align-items: flex-start;
      gap: 8px;
    }
  }
}

/* TO=DO SECTION */
div#to-dos {
  padding: 0 16px;
  margin-top: 16px;
  gap: 2px;
  /* display: none; */

  & .to-do {
    border-radius: 10px;
    padding: 8px;

    & label {
      color: var(--font-dark, var(--grey-g-200, #303030));

      /* Text-13/medium */
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 18.2px */
    }

    & input[type="checkbox"] {
      width: 24px;
      height: 24px;
    }

    & .write-up {
      display: flex;
      justify-content: space-between;
      gap: 8px;
    }

    & p {
      color: var(--font-mid-2, #616161);

      /* Text-13/medium */
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 18.2px */
      margin: 16px 0;
    }

    & a {
      color: var(--states-focused, #005bd3);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      text-decoration: none;
    }

    & button {
      border-radius: 6px;
      border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
      border-right: 1.5px solid
        var(--stroke-light-100, rgba(255, 255, 255, 0.2));
      border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
      background: #404040;
      box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
        0px 2px 0px 0px #000;

      color: var(--font-light, #f6f3f6);

      /* Text-12/Semi bold */
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%; /* 15.6px */
    }

    & button.import-product--btn {
      color: var(--font-dark, #323232);

      /* Text-12/Semi bold */
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%; /* 15.6px */
      background: none;
      box-shadow: none;
    }
  }

  & input {
    height: 24px;
    width: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 100%;
    outline: none;
    transition-duration: 0.2s;
    background-color: #f3f3f3;
    cursor: pointer;
    background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="10" stroke="%238A8A8A" stroke-width="2.08333" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="5 5"/></svg>');
    background-size: cover;
  }

  /* Input states */

  & input:checked {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="11.9996" cy="12" r="10" fill="%231C181D" stroke="%231C181D" stroke-width="2.08333" stroke-linecap="round" stroke-linejoin="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M16.8163 8.64149C17.0604 8.88557 17.0604 9.2813 16.8163 9.52538L11.3997 14.942C11.1556 15.1861 10.7599 15.1861 10.5158 14.942L7.80745 12.2337C7.56337 11.9896 7.56337 11.5939 7.80745 11.3498C8.05153 11.1057 8.44725 11.1057 8.69133 11.3498L10.9577 13.6162L15.9324 8.64149C16.1765 8.39742 16.5723 8.39742 16.8163 8.64149Z" fill="white"/></svg>');
    background-size: cover;
    transition-delay: 0.2s;
  }

  & input:hover {
    background-image: url('data:image/svg+xml, <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" ><circle cx="12" cy="12" r="10" stroke="%238A8A8A" stroke-width="2.08333" stroke-linecap="round" stroke-linejoin="round" /></svg>');
    background-size: cover;
  }

  /* Button states */
  & button:hover {
    border-radius: 6px;
    border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
    border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
    border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
    background: #2a2a2a;
    box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
      0px 2px 0px 0px #000;
  }

  & button:active {
    border-radius: 6px;
    background: #2b2b2b;
    box-shadow: 0px 0px 0px 1.5px #333, 0px 3px 0px 0px #000 inset;
    color: var(--font-light, #f6f3f6);
    transition: all 0.5s ease-in;
  }

  & button:focus {
    border-radius: 6px;
    border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
    border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
    border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
    background: #404040;
    box-shadow: 0px 0px 0px 5px #005bd3, 0px 0px 0px 3px #fff,
      0px 0px 0px 1.5px #333;
    color: var(--font-light, #f6f3f6);
  }

  & .import-product--btn:hover {
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #f7f7f7;
    box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
  }

  & .import-product--btn:active {
    border-radius: 6px;
    background: #f7f7f7;
    box-shadow: 0px 2px 1.5px 0px #e2e2e2 inset;
    transition: all 0.5s ease-in;
  }

  & button.import-product--btn:focus {
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: var(--White, #fff);
    box-shadow: 0px 0px 0px 3px #005bd3, 0px 0px 0px 1px #fff,
      0px -1px 0px 0px #b5b5b5 inset;
  }
}

/* SPAN  */
span.import-product {
  background: white;
  padding: 6px 12px;
  border-radius: 6px;
  margin-top: 16px;
}

span.import-product:hover {
  background: #e7e7e7;
  color: #323232;
  gap: 8px;
}

/* SMALL SCREEN */
@media screen and (max-width: 767px) {
  header.main-heading {
    display: flex;
    padding: 12px 16px;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    flex: 1 0 0;

    & input {
      width: 100%;
      height: 32px;
    }
  }

  header.main-heading .profile {
    padding: 2px;
    gap: 8px;

    & button {
      background: none;
    }

    & .profile-info {
      width: 32px;
      padding: 2px;
      gap: 8px;

      & .davii {
        display: none;
      }

      & .DC {
        height: 28px;
        width: 28px;
        padding: 9px 5px 10px 5px;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
      }
    }
  }

  header input {
    width: 238px;
  }

  header svg.icon-desktop {
    display: none;
  }

  div.heading {
    display: flex;
    padding: 12px 8px 12px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    background: var(--grey-grey-300, #1a1a1a);
    width: 100%;
    height: 104px;

    & p {
      flex: 1 0 0;
      color: var(--font-light, #e3e3e3);

      /* Text-13/medium */
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 18.2px */
    }

    & button {
      padding: 6px 12px;
      align-items: center;
      gap: 8px;
      border-radius: 6px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      background: var(--White, #fff);
      box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
    }

    & .extend-trial {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .select-plan .cancel-button-desktop {
    display: none;
  }

  div.setup-guide {
    max-width: 336px;
    max-height: 92px;
  }

  div.to-do img {
    display: none;
  }
}

/* SMALLER SCREEN  */
@media screen and (max-width: 290px) {
  header.main-heading {
    gap: 0;
  }
}

/* MEDIUM SCREEN */
@media screen and (min-width: 540px) {
  header.main-heading {
    gap: 7rem;
  }
}

/* LARGE SCREEN */
@media screen and (min-width: 768px) {
  header.main-heading {
    width: 100%;
    gap: 8vw;

    & .profile {
      display: flex;
      padding: 2px 2px 2px 8px;
      align-items: flex-start;
      justify-content: flex-end;
      gap: 8px;
      border-radius: 8px;
      width: 462px;
      height: 32px;
    }
  }

  header svg.icon-phone {
    display: none;
  }

  header button.profile-info {
    display: flex;
    padding: 2px 2px 2px 8px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--grey-grey-200, #303030);

    & .davii {
      color: var(--font-light, #e3e3e3);
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%; /* 15.6px */
    }

    & .DC {
      height: 28px;
      padding: 9px 5px 10px 5px;
      border-radius: 6px;
    }
  }

  main {
    display: grid;
    place-items: center;
    max-width: 800px;
  }

  .heading section.guidelines {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section.guidelines,
  .guidelines header {
    border-radius: 10px;
  }

  .cancel-button-phone {
    display: none;
  }

  .select-plan {
    display: flex;
    justify-content: space-between;

    align-items: center;
    padding: 12px 8px 12px 16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: var(--grey-grey-300, #1a1a1a);
  }

  div.to-dos .to-do {
    display: flex;
    padding: 8px 8px 12px 8px;
    align-items: center;
    gap: 96px;
    align-self: stretch;
    width: 100%;
    height: 139px;

    & img {
      width: 156.145px;
      height: 120px;
    }

    & input {
      width: 24px;
      height: 24px;
    }
  }
}

.display div.write-up {
  display: flex;
}

/*ON  DISPLAY */

#to-dos.menu-display {
  display: block;
  transition: ease-in 0.1s;
}
